@model DataAccess.Models.Book

@{
    ViewBag.Title = "Create";
}

<h2>Vytvořit novou knihu</h2>

@using (Html.BeginForm("Add", "Books", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" })) // Umožní zpracovat nahrané soubory
{
    <div class="form-group">
        <label class="col-sm-2 control-label">Id sekce:</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.SectionId, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.SectionId)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Název knihy</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)

        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Autor</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Author)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Rok vydání</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PublishedYear)
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Popis</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control formatedtext" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Kategorie</label>
        <div class="col-sm-10">
            @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name"), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Obrázek</label>
        <div class="col-sm-10">
            <input type="file" name="picture" />

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Vytvořit knihu</button>
        </div>
    </div>
}
<style>
    .mce-path {/* CSS */
        display: none !important;
    }
</style>
<script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
<script>tinymce.init({
    selector: '.formatedtext', branding: false, plugins: 'code,emoticons,lists,advlist,autolink,autoresize,autosave,codesample,textcolor,colorpicker,fullscreen,hr,image,link,media,preview,searchreplace,table,textpattern,wordcount', toolbar: 'image,code,emoticons,bulllist,numlist,restoredraft,codesample,forecolor,backcolor,fullscreen,preview,searchreplace', width: '100%',  language: 'cs'


});</script>


