@using DataAccess.Models
@using LofovaChyse.Class
@model DataAccess.Models.KnihovnaUser
@{
    ViewBag.Title = "Index";
    ViewBag.Oceneni = General.GetUserOceneni(Model.Login);

    bool areFriends = true;
    bool canAdd = false;

    string friendMessage = "Přihlášení uživatelé si mohou přidat přátele";

    if (User.Identity.IsAuthenticated)
    {
        areFriends = General.UsersAreFrineds(User.Identity.Name, Model.Login);

        if (!areFriends)
        {
            if (Model.Login == User.Identity.Name)
            {
                friendMessage = "Nemůžeš mít sám sebe za přítele";
            }
            else
            {
                friendMessage = "Tohoto člověka si můžeš přidat za přítele";
                canAdd = true;
            }
        }
        else
        {
            bool friendsConfirmed = General.UsersAreFriendsConfirmed(User.Identity.Name, Model.Login);

            if (friendsConfirmed)
            {
                friendMessage = "S tímto člověkem již jsi kamarád";
            }
            else
            {
                friendMessage = "Žádost byla odeslána a čeká na vyřízení";
            }

        }
    }

    List<KnihovnaUserRole> tvojeRole = General.GetUserRoles(Model.Login);

}

<script>
    function onAdd() {
        jQuery('#friendRequest').remove();
        swal("Požadavek odeslán", "Dostaneš upozornění jakmile bude vyřízen", "success");
    }
</script>
<div id="ajaxContent">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modalContent">

                </div>
            </div>
        </div>
    </div>

    <h2>Profil uživatele @Model.Name</h2>
    <p>Jste přátelé? @friendMessage</p>
    @if (canAdd)
    {
        <div id="friendRequest">
            @Ajax.ActionLink("Přidat přítele", "CallGeneral", "Home", new {user1 = User.Identity.Name, user2 = Model.Login}, new AjaxOptions() {}, new {onclick="onAdd()"})
            <br/>
        </div>
    }
    
    <p>Seznam tvých rolí:</p>
    <ul>
        @foreach (KnihovnaUserRole r in tvojeRole)
        {
            <li>
                @General.UserRoleName(r)
            </li>
        }
    </ul>
    <sub><a href="#">Poslat zprávu</a> | <a href="#">Další kontakty</a></sub> <sub style="float: right"><strong>Profil</strong> | @Html.ActionLink("Zeď", "ViewWall", new {id = Model.Id}) | Galerie | Snippety</sub>
    <br/>
    <sub>Úroveň ověření: <strong>@Model.AuthLevel</strong> (@Model.Exp xp)</sub> <sub style="float: right">Získaná ocenění:</sub>
    <br/>
    <div class="col-sm-12">
        @foreach (KnihovnaOceneni o in ViewBag.Oceneni as List<KnihovnaOceneni>)
        {
            <img src="@Url.Content("~/Uploads/Odznaky/" + o.Image)" class="animated" style="float: right" title="@o.Name" data-tippy-placement="bottom" onclick="openModelWindow()" id="loadPartialView" mydata="@o.Id"/>
        }
        <br/>
    </div>
    <br/>
    <sub>Přidal se: @Model.JoinedDateTime</sub>

    @if (ViewBag.Owner)
    {
        <p>Jsi vlastník tohoto profilu!</p>
        <p>Uživatelské ID: @Model.Id</p>
        <p>Heslo: @Model.Password</p>
        <p>Úroveň oprávnění: @Model.Role.RoleDescription</p>

        <div>
            <p id="ajaxNalada">Nálada: @Model.NeedJob</p>
            <button class="btn btn-default" onclick="openModelWindow()" id="loadPartialView2">[Upravit]</button>
        </div>


        <p>Nastav si text pro návštěvy:</p>
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new {@class = "col-md-12", enctype = "multipart/form-data"})) // Umožní zpracovat nahrané soubory
                {
                    <div class="form-group">
                        <div>
                            @Html.TextAreaFor(x => x.WelcomeText, new {@class = "form-control formatedtext"})
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default">Upravit text</button>
                        </div>
                    </div>
                }
            }
        </div>

        <script type="text/javascript">
            $(function() {
                $("#welcomeText").html("");
            });

            //  jQuery('#myModal').on('hidden.bs.modal', function () {
            //      location.reload();
            //  })
        </script>

        <style>
            .mce-path { /* CSS */
                display: none !important;
            }
        </style>
        <script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
        <script>
            tinymce.init({
                selector: '.formatedtext',
                branding: false,
                plugins:
                    'code,emoticons,lists,advlist,autolink,autoresize,autosave,codesample,textcolor,colorpicker,fullscreen,hr,image,link,media,preview,searchreplace,table,textpattern,wordcount',
                toolbar:
                    'image,code,emoticons,bulllist,numlist,restoredraft,codesample,forecolor,backcolor,fullscreen,preview,searchreplace',
                width: '100%',
                language: 'cs'


            });
        </script>
    }
    else
    {
        <hr/>
        <p>@Html.Raw(Model.WelcomeText)</p>
    }
</div>

<script type="text/javascript">
    function openModelWindow() {

        jQuery('#myModal').modal('toggle');
    }
</script>

<script>
    tippy('[title]')
</script>

<script type="text/javascript">
    jQuery("#loadPartialView").click(function() {

        var u = jQuery(this).attr('mydata');


        jQuery.get('@Url.Action("Test", "Home")',
            { Id: u },
            function(response) {
                jQuery("#modalContent").html(response);
            });
    });

    jQuery("#loadPartialView2").click(function() {

        jQuery.get('@Url.Action("NastavNaladu", "Home")',
            {},
            function(response) {
                jQuery("#modalContent").html(response);
            });
    });

    //openModelWindow();
</script>