@using DataAccess.Models
@using LofovaChyse.Class
@model DataAccess.Models.KnihovnaUser
@{
    ViewBag.Title = "Index";
    ViewBag.Oceneni = General.GetUserOceneni(Model.Login);

    bool areFriends = true;
    bool canAdd = false;

    string friendMessage = "Přihlášení uživatelé si mohou přidat přátele";

    if (User.Identity.IsAuthenticated)
    {
        areFriends = General.UsersAreFrineds(User.Identity.Name, Model.Login);

        if (!areFriends)
        {
            if (Model.Login == User.Identity.Name)
            {
                friendMessage = "Nemůžeš mít sám sebe za přítele";
            }
            else
            {
                friendMessage = "Tohoto člověka si můžeš přidat za přítele";
                canAdd = true;
            }
        }
        else
        {
            bool friendsConfirmed = General.UsersAreFriendsConfirmed(User.Identity.Name, Model.Login);

            if (friendsConfirmed)
            {
                friendMessage = "S tímto člověkem již jsi kamarád";
            }
            else
            {
                friendMessage = "Žádost byla odeslána a čeká na vyřízení";
            }

        }
    }

    List<KnihovnaUserRole> tvojeRole = General.GetUserRoles(Model.Login);

    string profilText = Model.WelcomeText;
    bool popisOk = true;

    if (String.IsNullOrEmpty(profilText))
    {
        profilText = "Tento uživatel nám toho zatím o sobě moc neřekl. Ale můžeš se zeptat!";
        popisOk = false;
    }

    string age = "";

    if (!String.IsNullOrEmpty(Model.Age.ToString()))
    {
        age = ", " + Model.Age.ToString();
    }

    string seznamRoli = "";

    foreach (KnihovnaUserRole r in tvojeRole)
    {
        seznamRoli += General.UserRoleName(r) + ", ";
    }

    seznamRoli = seznamRoli.Remove(seznamRoli.Length - 2);

    string infoString = "Informace";
    string statString = "Statistiky";

    if (ViewBag.Owner)
    {
        infoString = "Informace o tobě";
        statString = "Tvoje statistiky";
    }

}

<style>
    .nadpisProfil {
        display: inline-block;
        font-size: 2.3em;
    }

    .nadpisDalsiInfo {
        display: inline-block;
    }

    .profilHorniPolozky {
        float: right;
        position: relative;
        color: darkgray;

    }

    .profilHorniPolozkyIkony {
        font-size: 2em;
        cursor: pointer;
    }

    .profilHorniPolozkyZamceno {
        opacity: 0.2;
    }

    .profilIkonaAktivni {
        opacity: 1;
        color: #888;
    }

    .profilObrazekVeliky {
        border-radius: 100px;
        border: 1px solid #ddd;
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 30px;

    }

    .profilPredstaveni {   
        position: relative;
        top: 50px;
        font-size: 1.4em;
        display: block;
        padding-right: 10px;
        height: auto;
    }

    .profilKontajnerObrazek {
        display: inline-flex;
        position: relative;
        top: 10px;
    }

    .circle-icon {
        background: #FEFEFE;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        height: 48px !important;
        width: 48px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .circle-iconFriend {
        background: #FEFEFE;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 8px;
        height: 48px !important;
        width: 48px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .circle-iconMini {
        background: #FEFEFE;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 4px;
        height: 30px !important;
        width: 30px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .circle-iconSmallest {
        background: #FEFEFE;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        padding: 2px;
        height: 24px !important;
        width: 24px !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 50px 0 rgba(0, 0, 0, 0.1);
    }

    .profilAuthorLine {
        position: relative;
        right: 10px;
        font-size: 0.9em;
        display: block;
        top: 40px;
    }

    #containerAnimated {
        margin: 20px;
        width: 400px;
        height: 8px;
    }

    .column {
        width: 50%;
        padding: 10px;
    }

    .rightcolumn {
        float: right !important;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    li {
        margin-bottom: 5px;
    }

    .fa-crown:hover {
        color: #C2B280 !important;
    }

    .fa-cogs:hover {
        color: #FFBA00 !important;
    }

    .superSmall {
        font-size: 0.8em;
    }

    .profilOceneni {
        position: relative;
        bottom: 10px;
    }

</style>

<script>
    function onAdd() {
        jQuery('#friendRequest').remove();
        swal("Požadavek odeslán", "Dostaneš upozornění jakmile bude vyřízen", "success");

        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("CallGeneral", "Home")',
            data: { user1: '@User.Identity.Name', user2: '@Model.Login'}
        });
    }
</script>
<div id="ajaxContent">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modalContent">
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.Owner)
    {
        <h2 class="nadpisProfil">Vítej na svém profilu</h2>
    }
    else
    {
            <h2 class="nadpisProfil">Profil uživatele @Model.Name</h2>
    }
    
    <div id="polozkyProfilu" class="profilHorniPolozky">
        
        <div class="profilHorniPolozkyIkony" id="profilIkony">

            @if (canAdd)
            {
                <a title="Přidat do přátel" data-tippy-placement="bottom" onclick="onAdd()" id="friendRequest"><i class="fas fa-user-friends fa-fw profilIkonaAktivni circle-iconFriend"></i></a>
            }

            @if (!ViewBag.Owner)
            {
                <a title="Odeslat zprávu" data-tippy-placement="bottom"><i class="fas fa-envelope fa-fw profilIkonaAktivni circle-iconFriend"></i></a>
            }

            <a href="@Url.Action("Index")" title="Profil" data-tippy-placement="bottom"><i class="fas fa-address-card fa-fw profilIkonaAktivni circle-icon"></i></a>

            @if (ViewBag.Owner || Model.AuthLevel > 0)
            {
                <a title="Zeď" data-tippy-placement="bottom" onclick="akcePolozkyProfilu(1)"><i class="fas fa-comments fa-fw circle-icon"></i></a>
                <a title="Galerie" data-tippy-placement="bottom" onclick="akcePolozkyProfilu(2)"><i class="fas fa-images fa-fw circle-icon"></i></a>
                <a title="Snippet" data-tippy-placement="bottom" onclick="akcePolozkyProfilu(3)"><i class="fas fa-file-code fa-fw circle-icon"></i></a>
                <a title="SoundUp" data-tippy-placement="bottom" onclick="akcePolozkyProfilu(4)"><i class="fas fa-music fa-fw circle-icon"></i></a>
            }

        </div>
    </div>

    
    <!-- Obrázek uživatele veliký-->
    <div id="obrazekUzivatele" class="profilKontajnerObrazek">
        <img src="@Url.Content("~/Uploads/KnihovnaUzivateleBig/" + General.GetMiniaturePicture(Model.Login))" class="profilObrazekVeliky"/>
        
        <div>
            <i class="profilPredstaveni">@Html.Raw(profilText)</i>
            
            @if (popisOk)
            { 
                <br />
                <span class="profilAuthorLine"><i>- @Model.Name @Model.Surname @age <br/><span class="superSmall">@seznamRoli</span></i></span>
            }
        </div>
    </div>
    
    <br />
    <br />
    <!-- Tvoje statistiky -->
    <div class="row">
        <div class="column">
            <h4>@statString</h4>

            <ul class="fa-ul" style="font-size: 1.3em;">
                <li><a title="Vyjadřuje důvěryhodnost uživatele. Existuje 7 úrovní ověření: 0, A-F. Přechod na novou úroveň ti vždy odemkne nové funkce!"><i class="fa-li fas fa-crown circle-iconMini"></i></a>Úroveň ověření: <b>@General.AuthLevelToString(Model.AuthLevel)</b></li>
                <li><a title="Zkušenosti získáváš po obdržení kladného hodnocení, za publikování komentářů / příspěvků, účast v soutěžích. Vyjadřují úroveň tvých schopností."><i class="fa-li fas fa-cogs circle-iconMini"></i></a>Zkušenosti: <b>@Model.Exp</b></li>
                <li><a title="Reputace se ti zvedá po získání hodnocení <b>super</b> a <b>to mi pomohlo</b>. Je potřeba k postupu na vyšší úroveň ověření a k žádostem o speciální posty jako redaktror nebo moderátor."><i class="fa-li fas fa-heart circle-iconMini"></i></a>Reputace: <b>@Model.Reputation</b></li>
            </ul>
        </div>
    
        <div class="column">
            <h4 class="rightcolumn">Získaná ocenění</h4>               
            <br/>
            <br/>
            
            <div>
                @if ((ViewBag.Oceneni as List<KnihovnaOceneni>).Count > 0)
                {
                     foreach (KnihovnaOceneni o in ViewBag.Oceneni as List<KnihovnaOceneni>)
                     {
                         <img src="@Url.Content("~/Uploads/Odznaky/" + o.Image)" class="animated profilOceneni" style="float: right" title="@o.Name" data-tippy-placement="bottom" onclick="openModelWindow()" id="loadPartialView" mydata="@o.Id"/>
                    }
                }
                else
                {
                    <i class="rightcolumn">@Model.Name ještě nezískal žádná ocenění</i>
                }
            </div>     
            
        </div>
    </div>
    
    <br />
    <br />
    <!-- Informace a úspěchy-->
    <div class="row">
        <div class="column">
            <h4>@infoString</h4>

            <ul class="fa-ul" style="font-size: 1.1em;">

                <li><i class="fa-li fas fa-briefcase circle-iconSmallest"></i><i>@General.JobToString(Model.NeedJob)</i></li>

                @if (!String.IsNullOrEmpty(Model.Education))
                {
                    <li><i class="fa-li fas fa-graduation-cap circle-iconSmallest"></i><i>Vzdělání: @Model.Education</i></li>

                }
                @if (!String.IsNullOrEmpty(Model.Hobbies))
                {
                    <li><i class="fa-li fas fa-dove circle-iconSmallest"></i><i>Koníčky: @Model.Hobbies</i></li>

                }
                @if (!String.IsNullOrEmpty(Model.Literature))
                {
                    <li><i class="fa-li fas fa-book-open circle-iconSmallest"></i><i>Literatura: @Model.Literature</i></li>

                }
                @if (!String.IsNullOrEmpty(Model.Music))
                {
                    <li><i class="fa-li fas fa-headphones circle-iconSmallest"></i><i>Hudba: @Model.Music</i></li>

                }
                @if (!String.IsNullOrEmpty(Model.Movies))
                {
                    <li><i class="fa-li fas fa-video circle-iconSmallest"></i><i>Filmy: @Model.Movies</i></li>

                }
            </ul>
        </div>
    
        <div class="column">
            <h4 class="rightcolumn">Dosažené úspěchy</h4>               
            <br/>
            <br/>
            
            <div>
                @if (!ViewBag.Owner)
                {
                    <i class="rightcolumn">@Model.Name ještě nezískal žádné úspěchy</i>
                }
                else
                {
                    <i class="rightcolumn" onclick="openModelWindowZZ('@Model.Login')">Ještě jsi nezískal žádné úspěchy. <br/>Klikni aby ses dozvěděl jak na to!</i>
                }
            </div>     
            
        </div>
    </div>
    

    <!-- XP Bar-->
    <div id="containerAnimated">
        
    </div> 
   
    <script >

        function openModelWindowZZ(login) {
        
            jQuery.get('@Url.Action("ViewAchievements", "Profile")',
                { user: login },
                function(response) {
                    jQuery("#modalContent").html(response);
                });

            jQuery('#myModal').modal('toggle');
        }

        $(document).ready(function () {
            var bar = new ProgressBar.Line("#containerAnimated", {
                strokeWidth: 4,
                easing: 'easeInOut',
                duration: 2500,
                color: '#FFEA82',
                trailColor: '#eee',
                trailWidth: 1,
                text: {
                    style: {
                        // Text color.
                        // Default: same as stroke color (options.color)
                        color: '#999',
                        position: 'relative',
                        right: '0',
                        top: '30px',
                        padding: 0,
                        margin: 0,
                        transform: null
                    },
                    autoStyleContainer: false
                },
                svgStyle: {width: '100%', height: '100%'},
                from: {color: '#66666'},
                to: {color: '#00FF00'},
                step: (state, bar) => {
                    bar.path.setAttribute('stroke', state.color);
                    bar.setText('Zkušenosti: ' + Math.round(bar.value() * 100) + ' %');
                }
            });

            bar.animate(1.0);

        var elem = document.getElementById("myBar");

        $("#zkusenostiBar").fadeIn(500);

        var width = 1;
        var id = setInterval(frame, 10);
        function frame() {
            if (width >= 40) {
                clearInterval(id);
            } else {
                width++; 
                elem.style.width = width + '%'; 
            }
        }
    });

        function akcePolozkyProfilu(index) {
            if (index !== 0) {
                if (@Model.AuthLevel == 0) {
                    swal({
                        title: "Nedostatečné ověření",
                        text: '@Html.Raw(Texty.ProfilSluzbyNedostatecneOvereni)',
                        type: 'warning',
                        html: true
                    });
                } else {
                    if (index == 1) {
                        window.location = '@Url.Action("ViewWall", new { id = Model.Id })';
                    }
                }
            }
        }
    </script>


    <div id="moznostiKontaktu">
        <sub><a href="#">Poslat zprávu</a> | <a href="#">Další kontakty</a></sub>

    </div>

    <br />
    <br />
    <sub style="float: right"><strong>Profil</strong> | @Html.ActionLink("Zeď", "ViewWall", new { id = Model.Id }) | Galerie | Snippety</sub>
    <sub>Úroveň ověření: <strong>@Model.AuthLevel</strong> (@Model.Exp xp)</sub> <sub style="float: right">Získaná ocenění:</sub>
    <br />
    <br />
    <sub>Přidal se: @Model.JoinedDateTime</sub>
    @if (ViewBag.Owner)
    {
        <p>Jsi vlastník tohoto profilu!</p>
        <p>Uživatelské ID: @Model.Id</p>
        <p>Heslo: @Model.Password</p>
        <p>Úroveň oprávnění: @Model.Role.RoleDescription</p>
        <p>Zkušenosti: @Model.Exp</p>
        <p>Počet komentářů: @Model.CommentsNumber</p>
        <p>Reputace: @Model.LikesNumber</p>

        <div>
            <p id="ajaxNalada">Nálada: @Model.NeedJob</p>
            <button class="btn btn-default" onclick="openModelWindow()" id="loadPartialView2">[Upravit]</button>
        </div>


        <p>Nastav si text pro návštěvy:</p>
        <div class="row">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("EditProfile", "Profile", FormMethod.Post, new { @class = "col-md-12", enctype = "multipart/form-data" })) // Umožní zpracovat nahrané soubory
                {
                    <div class="form-group">
                        <div>
                            @Html.TextAreaFor(x => x.WelcomeText, new { @class = "form-control formatedtext" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default" style="z-index: 1">Upravit text</button>
                        </div>
                    </div>
                }
            }
        </div>

        <script type="text/javascript">
            $(function () {
                $("#welcomeText").html("");
            });

            //  jQuery('#myModal').on('hidden.bs.modal', function () {
            //      location.reload();
            //  })
        </script>

        <style>

            .mce-path { /* CSS */
                display: none !important;
            }
        </style>
        <script src="@Url.Content("~/Scripts/tinymce/tinymce.js")"></script>
        <script>
            tinymce.init({
                selector: '.formatedtext',
                branding: false,
                plugins:
                    'code,emoticons,lists,advlist,autolink,autoresize,autosave,codesample,textcolor,colorpicker,fullscreen,hr,image,link,media,preview,searchreplace,table,textpattern,wordcount',
                toolbar:
                    'image,code,emoticons,bulllist,numlist,restoredraft,codesample,forecolor,backcolor,fullscreen,preview,searchreplace',
                width: '100%',
                language: 'cs'


            });
        </script>
    }
    else
    {
        <hr />
        <p>@Html.Raw(Model.WelcomeText)</p>
    }
</div>

<script type="text/javascript">
    function openModelWindow() {

        jQuery('#myModal').modal('toggle');
    }
</script>

<script>
    tippy('[title]')
</script>

<script type="text/javascript">
    jQuery("#loadPartialView").click(function() {

        var u = jQuery(this).attr('mydata');


        jQuery.get('@Url.Action("Test", "Home")',
            { Id: u },
            function(response) {
                jQuery("#modalContent").html(response);
            });
    });

    jQuery("#loadPartialView2").click(function() {

        jQuery.get('@Url.Action("NastavNaladu", "Home")',
            {},
            function(response) {
                jQuery("#modalContent").html(response);
            });
    });

    //openModelWindow();
</script>

@{
    if (Model.AuthLevel == 0)
    {
        <script>
            $(".profilHorniPolozkyIkony i").addClass("profilHorniPolozkyZamceno");
        </script>
    }
}