@using LofovaChyse.Class

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lofova chýše</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/blog.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/Buttons.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/sweetalert/sweet-alert.css")" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>

</head>

<body>
<header>
    
    @{
        var action = (ViewContext.RouteData.Values["action"] ?? "").ToString().ToLower();
        var controller = (ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower();
    }
    <div class="blog-masthead">
        <div class="container">
            <nav class="nav">
                <a class="@((action == "index" && controller == "home") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Home")">Domů</a>
                <a class="@((action == "index" && controller == "books") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Books")">Vypis</a>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="nav-link" href="@Url.Action("Logout", "Login")">@User.Identity.Name - odhlásit se</a>

                    if (User.IsInRole("Knihovnik"))
                    {
                        <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})">ACP</a>
                    }
                }
                else
                {
                    <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})">Přihlásit se</a>
                }


            </nav>
        </div>
    </div>
</header>

<main role="main" class="container">

    <div class="row">

        <div class="col-sm-8 blog-main">

            @if (TempData["scs"] != null)
            {
                <p>@TempData["scs"]</p>
            }
            @RenderBody()

        </div>       

        <aside class="col-sm-3 ml-sm-auto blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4>About</h4>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="sidebar-module">
                <h4>Archives</h4>
                <ol class="list-unstyled">
                    <li><a href="#">March 2014</a></li>
                    <li><a href="#">February 2014</a></li>
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                    <li><a href="#">August 2013</a></li>
                    <li><a href="#">July 2013</a></li>
                    <li><a href="#">June 2013</a></li>
                    <li><a href="#">May 2013</a></li>
                    <li><a href="#">April 2013</a></li>
                </ol>
            </div>
            <div class="sidebar-module">
                @RenderSection("SideBar", false)
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
<script src="@Url.Content("~/Scripts/additional-methods.js")"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>
