@using System.Collections
@using System.Drawing
@using System.Web.Services.Description
@using DataAccess.Models
@using LofovaChyse.Class
@using JsAction

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lofova chýše</title>

    <!-- Bootstrap core CSS -->
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.js")"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/Buttons.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/sweetalert.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/sweetalert.min.js")"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <link href="@Url.Content("~/Content/prism.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/animate.css")" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script src="@Url.Content("~/Scripts/prism.js")"></script>
    <link href="@Url.Content("~/Content/themes.css")" rel="stylesheet" />
    <script defer src="https://atomiks.github.io/tippyjs/js/focus-ring.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
</head>

<body>
    <header>

        @{
            var action = (ViewContext.RouteData.Values["action"] ?? "").ToString().ToLower();
            var controller = (ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower();
            IList<KnihovnaNotifikace> Notifikace = null;
            int totalNotifikace = 0;

            if (User.Identity.IsAuthenticated)
            {
                Notifikace = General.GetCurrentUserNotificationsObject(User.Identity.Name, true);
                totalNotifikace = General.GetCurrentUserNotificationsAll(User.Identity.Name);
            }

            Color MyColor = Color.Red;
        }

        <nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="#">Kreveta 3</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="@((action == "index" && controller == "home") ? "nav-link active" : "nav-link")" href="@Url.Action("Home", "Home")">
                                Domů
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="@((action == "index" && controller == "books") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Books", new {})">Příspěvky</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a data-toggle="dropdown" class="nav-link" href="@Url.Action("Index", "Profile")" style="@((General.GetCurrentUserNotifications(User.Identity.Name) > 0) ? "color: Orange" : "")"><span class=" fas fa-bell" style="font-size: 1.3em; color: @MyColor; vertical-align: middle;"></span> <span class="badge badge-secondary" style="font-size: 0.8em;">@General.GetCurrentUserNotifications(User.Identity.Name)</span></a>
                                <ul class="dropdown-menu animated">
                                    @if (Notifikace.Count > 0)
                                    {
                                        foreach (var n in Notifikace)
                                        {
                                            <li class=""><a class="dropdown-item" href="@Url.Action("Index", "Notifikace", new {userId = ImageHelper.GetCurrentUserId(User.Identity.Name)})">@Html.Raw(n.Text)</a></li>
                                        }
                                    }
                                    else
                                    {
                                        if (totalNotifikace > 0)
                                        {
                                            <li class=""><a class="dropdown-item" href="@Url.Action("Index", "Notifikace", new {userId = ImageHelper.GetCurrentUserId(User.Identity.Name)})">Nemáš žádná nová upozornění. <br />Můžeš se podívat na @totalNotifikace @Sklonovani.Sklonuj("starší", totalNotifikace).</a></li>
                                        }
                                        else
                                        {
                                            <li class=""><p class="dropdown-item">Nemáš žádná upozornění.</p></li>
                                        }
                                    }
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Profile")"><span class=" fas fa-envelope" style="font-size: 1.6em;  vertical-align: middle;"></span> <span class="badge badge-secondary" style="font-size: 0.8em;"> 0</span></a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Profile")" style="color: coral;"><span class=" fab fa-korvue" style="font-size: 1.6em; color: Tomato; vertical-align: middle;"></span> <span class="badge badge-secondary" style="font-size: 0.8em;">@(General.GetCurrentUserMoney(User.Identity.Name))</span> </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a data-toggle="dropdown" class="@((action == "index" && controller == "profile") ? "nav-link active dropdown-toggle" : "nav-link dropdown-toggle")" href="@Url.Action("Index", "Profile")"><img src="@Url.Content("~/Uploads/KnihovnaUzivatele/" + General.GetMiniaturePicture(User.Identity.Name))" class="rounded-circle"> @(General.GetCurrentUserName(User.Identity.Name))</a>
                                <ul class="dropdown-menu animated">
                                    <li class=""> <a class="dropdown-item" href="@Url.Action("Index", "Profile", new {id = ImageHelper.GetCurrentUserId(User.Identity.Name)})">Profil</a></li>
                                    <li class=""><a class="dropdown-item" href="#">Nastavení</a></li>
                                    <li class="dropdown-divider"></li>
                                    <li class=""><a class="dropdown-item" href="@Url.Action("Logout", "Login")">Odhlásit se</a></li>

                                    @if (User.IsInRole("Knihovnik"))
                                    {
                                        <li class="dropdown-divider"></li>
                                        <li class="">
                                            <a class="dropdown-item" href="@Url.Action("Index", "Home", new {area = "Admin"})">Administrace</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})">Přihlásit se</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        <br />
    </header>

    <main role="main" class="container">

        <div class="row">

            <div class="col-sm-12">

                @if (TempData["scs"] != null)
                {
                    <p>@TempData["scs"]</p>
                }
                @RenderBody()

            </div>

            <aside class="col-sm-2 ml-sm-auto blog-sidebar">
                <div class="sidebar-module">
                    @RenderSection("SideBar", false)
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="footer text-center">
        <div class="container text-center animated fadeIn" id="onPulse">
            <span class="text-muted text-center">@General.GetFooter()</span>
        </div>
    </footer>

    <script>
        $('#onPulse').click(function () {
            $(this).addClass("fadeOutUp");
        });
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
    <script src="@Url.Content("~/Scripts/additional-methods.js")"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/MicrosoftAjax.js"></script>
    <script src="~/Scripts/MicrosoftMvcAjax.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://atomiks.github.io/tippyjs/tippy/tippy.js"></script>
    <script src="https://atomiks.github.io/tippyjs/js/prism.js"></script>
    <script src="https://atomiks.github.io/tippyjs/js/app.js"></script>
</body>


<style>
        html {
            position: relative;
            min-height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 40px;
            line-height: 40px; /* Vertically center the text there */
        }

        .bs-dark.navbar-inverse {
            background-color: #222;
            border-color: #080808;
        }

        .bs-dark .navbar-img {
            padding: 5px 6px !important;
        }

            .bs-dark .navbar-img img {
                width: 40px;
            }

        .bs-dark .dropdown-menu {
            min-width: 200px;
            padding: 5px 0;
            margin: 2px 0 0;
            background-color: #000;
            border: 1px solid rgba(0, 0, 0, 0.7);
            border: 1px solid rgba(0, 0, 0, .15);
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        }

            .bs-dark .dropdown-menu .divider {
                border: 1px solid rgba(0, 0, 0, 0.8);
            }

            .bs-dark .dropdown-menu > li > a {
                padding: 6px 20px;
                color: rgba(255,255,255,0.80);
            }

                .bs-dark .dropdown-menu > li > a:hover,
                .bs-dark .dropdown-menu > li > a:focus {
                    color: rgba(255,255,255,0.70);
                    text-decoration: none;
                    background-color: transparent;
                }

            .bs-dark .dropdown-menu > .active > a,
            .bs-dark .dropdown-menu > .active > a:hover,
            .bs-dark .dropdown-menu > .active > a:focus {
                color: rgba(255,255,255,0.70);
                text-decoration: none;
                background-color: transparent;
                outline: 0;
            }

        .bs-dark .navbar-form {
            margin: 0;
            margin-top: 5px;
            padding: 8px 0px;
        }

            .bs-dark .navbar-form .search-box {
                border: 0px;
                height: 35px;
                outline: none;
                width: 320px;
                padding-right: 3px;
                padding-left: 15px;
                margin: 4px;
                -webkit-border-radius: 22px;
                -moz-border-radius: 22px;
                border-radius: 22px;
            }

            .bs-dark .navbar-form button {
                border: 0;
                background: none;
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -34px;
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

        .bs-dark .search-box:focus + button {
            z-index: 3;
        }


        .bs-dark .dropdown:hover {
            background-color: #000;
        }

            .bs-dark .dropdown:hover .dropdown-menu {
                display: block;
            }

        .bs-dark .navbar-form {
            padding: 0px;
        }

            .bs-dark .navbar-form .search-box {
                width: 260px;
                height: 32px;
            }

        code {
            font-size: 80%;
        }
</style>
</html>

