@using LofovaChyse.Class

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lofova chýše</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="@Url.Content("~/Content/Buttons.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/sweetalert/sweet-alert.css")" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <link href="@Url.Content("~/Content/prism.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/prism.js")"></script>

</head>

<body>
<header>
    
    @{
        var action = (ViewContext.RouteData.Values["action"] ?? "").ToString().ToLower();
        var controller = (ViewContext.RouteData.Values["controller"] ?? "").ToString().ToLower();
    }

    <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="#">Kreveta 3</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="@((action == "index" && controller == "home") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Home")">Domů
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="@((action == "index" && controller == "books") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Books")">Příspěvky</a>
                    </li>
                
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="@((action == "index" && controller == "profile") ? "nav-link active" : "nav-link")" href="@Url.Action("Index", "Profile")">Profil</a>
                        </li>

                        if (User.IsInRole("Knihovnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})">ACP</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Logout", "Login")">Odhlásit se</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home", new {area = "Admin"})">Přihlásit se</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    
    <br/>
</header>

<main role="main" class="container">

    <div class="row">

        <div class="col-sm-12">

            @if (TempData["scs"] != null)
            {
                <p>@TempData["scs"]</p>
            }
            @RenderBody()

        </div>       

        <aside class="col-sm-2 ml-sm-auto blog-sidebar">
            <div class="sidebar-module">
                @RenderSection("SideBar", false)
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

<style>
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 60px;
        line-height: 60px; /* Vertically center the text there */
    }


    /* Custom page CSS
-------------------------------------------------- */
    /* Not required for template or sticky footer method. */



    code {
        font-size: 80%;
    }
</style>
    
<footer class="footer text-center">
    <div class="container text-center">
        <span class="text-muted text-center">S láskou vytvořil Matěj Štágl</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
<script src="@Url.Content("~/Scripts/additional-methods.js")"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/MicrosoftAjax.js"></script>
<script src="~/Scripts/MicrosoftMvcAjax.js"></script>
<script src="~/Scripts/modernizr-2.6.2.js"></script>
</body>
</html>
