@using LofovaChyse.Class

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lofova chýše</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/blog.css")" rel="stylesheet">

</head>

<body>

    <header>
        <div class="blog-masthead">
            <div class="container">
                <nav class="nav">
                    <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
                    <a class="nav-link" href="@Url.Action("Index", "Books")">Vypis</a>     
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link" href="@Url.Action("Logout", "Login")">@User.Identity.Name - odhlásit se</a>
                    }

                </nav>
            </div>
        </div>
    </header>

    <main role="main" class="container">

        <div class="row">

            <div class="col-sm-8 blog-main">

                @if (TempData["scs"] != null)
                {
                    <p>@TempData["scs"]</p>
                }
                @RenderBody()

            </div>


            <aside class="col-sm-3 ml-sm-auto blog-sidebar">
                <div class="sidebar-module sidebar-module-inset">
                    <h4>About</h4>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
                <div class="sidebar-module">
                    <h4>Archives</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                        <li><a href="#">August 2013</a></li>
                        <li><a href="#">July 2013</a></li>
                        <li><a href="#">June 2013</a></li>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                    </ol>
                </div>
                <div class="sidebar-module">
                    @RenderSection("SideBar", false)
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </main><!-- /.container -->

    <footer class="blog-footer">
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
    <script src="@Url.Content("~/Scripts/additional-methods.js")"></script>

</body>
</html>
