@using DataAccess.Models
@using LofovaChyse.Class
@model List<DataAccess.Models.BookVersion>
@{
    ViewBag.Title = "BookHistory";
}

<div id="versionTable">
    <h2>Verze příspěvku:</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Verze</th>
            <th scope="col">Souhrn</th>
            <th scope="col">Autor změny</th>
            <th scope="col">Datum</th>
            <th scope="col">Změny</th>
            <th scope="col">Veřejná verze</th>
        </tr>
        </thead>
        <tbody>

        @foreach (BookVersion b in Model)
        {
            Book book = General.GetBook(b.PostId);

            <tr>
                <th scope="row">
                    @if (b.Version == book.Version)
                    {
                        <strong>@b.Version</strong>
                    }
                    else
                    {
                        @b.Version
                    }

                </th>
                <td>@Html.Raw(b.SumText)</td>
                <td>

                    @if (b.IsSuggestion)
                    {
                        <div class="pretty p-icon p-round p-locked p-jelly">
                            <input type="checkbox" checked />
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label>@General.GetUserById(b.ChangedBy).Name</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="pretty p-icon p-round p-locked p-jelly">
                            <input type="checkbox" checked />
                            <div class="state p-warning">
                                <i class="icon mdi mdi-check"></i>
                                <label>@General.GetUserById(b.ChangedBy).Name</label>
                            </div>
                        </div>
                    }

                </td>
                <td>@b.Date.ToString("M/d/yy")</td>
                <td>@Ajax.ActionLink("Zobrazit", "BookHistoryShow", "Books", new { id = b.Id }, new AjaxOptions() { UpdateTargetId = "obsahKnihy", InsertionMode = InsertionMode.Replace, OnBegin = "openModal" }, new { @class = "btn btn-sm btn-primary" })</td>
                <td>@Ajax.ActionLink("Nastavit", "BookHistorySet", "Books", new { id = b.Id }, new AjaxOptions() { UpdateTargetId = "versionTable", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "btn btn-sm btn-success", onclick= "getContent('" + b.Id + "')" })</td>
            </tr>
        }
        </tbody>
    </table>
    
    <small>Název verze <b>tučně</b> - veřejně viditelná verze.</small>
</div>

<script>
    function getContent(myId) {
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("BookHistoryShow", "Books")',
            data: { id: myId },
            success: function (result) {
                $("#obsahKnihy").html(result);
            }
        });
    }
</script>