@using DataAccess.Models
@using PerpetuumSoft.Knockout
@using LofovaChyse.Areas.Admin.Controllers
@model IList<Book>

<div id="ajaxContent">

    @{
        ViewBag.Title = "Index";
        //Book book = ViewBag.Kniha as Book; //Přetypování / secure

        // @model book -> Typový model
    }
    <h1>Výpis knih v lofově knihovně</h1>
    <hr />

    <div class="clearfix"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <div class="card card-block card-outline-primary">
                    <p class="card-text">Want to know how much rent you could achieve for your property? &nbsp;
                        <a href="#" class="btn btn-outline-primary float-right">Arrange a Valuation</a>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div>
        <!-- Blog Post -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Post Title</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            </div>
            <div class="card-footer text-muted">
                Posted on January 1, 2017 by
                <a href="#">Start Bootstrap</a>
                <a href="#" class="btn btn-primary float-right">Read More →</a>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>Obrázek</th>
                <th>ID</th>
                <th>Název knihy</th>
                <th>Autor</th>
                <th>Rok vydání</th>

                @if (User.Identity.IsAuthenticated)
                {
                    <th>Hodnotit</th>
                }

                @if (User.IsInRole("Knihovnik"))
                {
                    <th><strong>[ACP] Akce</strong></th>
                }
            </tr>

        </thead>

        <tbody>
            @foreach (Book b in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(b.ImageName))
                        {
                            <img src="@Url.Content("~/Uploads/Book/" + b.ImageName)" />
                        }
                    </td>
                    <td><a href="@Url.Action("Detail", "Books", new {id = b.Id, zobrazPopis = false})">@b.Id</a></td>
                    <td>@Html.ActionLink(b.Name, "Detail", "Books", new { id = b.Id, zobrazPopis = true }, new { title = b.Name, @class = "" })</td>
                    <td>@b.Author</td>
                    <td>@b.PublishedYear</td>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <p>
                                @Ajax.ActionLink((b.RateValue).ToString(), "Rate", new { id = b.Id }, new AjaxOptions() { UpdateTargetId = "ajaxContent", InsertionMode = InsertionMode.Replace })
                            </p>

                            <p>Celkové hodnocení: @(((LofovaChyse.Controllers.BooksController)ViewContext.Controller).BookRating(b.Id))</p>

                        </td>
                    }

                    @if (User.IsInRole("Knihovnik"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Books", new { id = b.Id }, null)
                            |
                            @Html.ActionLink("Delete", "Delete", "Books", new { id = b.Id }, new { onclick = "return confirm('Opravdu smazat knihu [" + b.Name + "] ?');" })
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>