@using DataAccess.Models
@using PerpetuumSoft.Knockout
@using LofovaChyse.Areas.Admin.Controllers
@model IList<Book>

<div id="ajaxContent">

    @{
        ViewBag.Title = "Index";
        //Book book = ViewBag.Kniha as Book; //Přetypování / secure

        // @model book -> Typový model
    }
    <h2>Nové příspěvky</h2>
    <hr />

    <div class="clearfix"></div>
    
    @foreach (Book b in Model)
    {
        <div>
            <div class="card mb-3 h-25 mt-0">
                <div class="card-body">
                    <h4 class="card-title">@b.Name</h4>
                    <p class="card-text">@Html.Raw(LofovaChyse.Class.ImageHelper.StripTagsRegex(b.Description.Substring(0, Math.Min(200, b.Description.Length) )))...</p>
                </div>
                <div class="card-footer text-muted">
                    Napsal @b.OwnerId.Name, verze @b.Version.ToString().Replace(",", ".") (@b.LastEditDateTime.ToString("dd MMMM, yyyy"))
                    @Html.ActionLink("Číst →", "Detail", "Books", new { id = b.Id, zobrazPopis = true }, new { title = b.Name, @class = "btn btn-primary float-right btn-sm" })
                </div>
            </div>
        </div>
    }
    
    <p>Počet položek na stránku: @ViewBag.PerPage</p>
    @if (ViewBag.Pages != null)
    {
        <nav aria-label="...">
            <ul class="pagination">
        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                @Ajax.ActionLink(i.ToString(), "Index", new { page = i }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxContent" }, new {@class= "page-link" })
            </li>
        }
    </ul>
    </nav>
    }
</div>