@using DataAccess.Dao
@using DataAccess.Models
@using PerpetuumSoft.Knockout
@using LofovaChyse.Areas.Admin.Controllers
@using LofovaChyse.Class
@model List<Book>

@{
    ViewBag.Granted = true;
    ViewBag.BuyId = 0;
    ViewBag.SeznamKategorii = General.GetCurrentCategories(ViewBag.Cat, User.Identity.Name);
    BookSekce aktSekce = new BookSekceDao().GetbyIdNull(ViewBag.Cat);
    string nazevSekce = "Kategorie";

    if (aktSekce != null && !General.AccessMatch(aktSekce.Restrikce, User.Identity.Name))
    {
        ViewBag.Granted = false;

        <script>
            swal("Přístup odmítnut", "Vypadá to, že sem nepatříš", "error")
        </script>
    }

    if (aktSekce != null)
    {
        nazevSekce = aktSekce.DebugName;
    }
    
}

@if (ViewBag.Granted)
{
    <div id="ajaxContent">
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="modalContent">

                    </div>
                </div>
            </div>
        </div>
        @{
            ViewBag.Title = "Index";

            <h2 style="display: inline-block;">@nazevSekce</h2>
            <div class="profilHorniPolozkyIkony" style="display: inline-block; float: right;">              
                @{
                    if (aktSekce != null && aktSekce.ContainsPosts && User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Create", "Books",  new {categoryId = ViewBag.Cat})" class="blackLink"><span class="circle-icon" onclick="openModelWindowZZ()"><i class="fas fa-align-justify fa-fw"></i> Vytvořit příspěvek</span></a> 
                    }
                }
                <span class="circle-icon" onclick="openModelWindowZZ()"><i class="fas fa-search fa-fw"></i> Hledat</span>
            </div>
           
            <hr />
            <div class="clearfix"></div>

            foreach (BookSekce s in ViewBag.SeznamKategorii as List<BookSekce>)
            {
                //if (General.AccessMatch(s.Restrikce, User.Identity.Name))
                {
                    <div class="container">
                        <div class="row align-items-center offset-md-0">
                            <div class="col-sm-2 order-md-1 offset-md-0">
                                <div class="p-2">
                                    @if (!string.IsNullOrEmpty(s.ImageName))
                                    {
                                        <img class="rounded animated chbox" src="@Url.Content("~/Uploads/Sekce/" + s.ImageName)" alt="">
                                    }
                                </div>
                            </div>
                            <div class="col-sm-8 order-sm-1">
                                <div class="p-2">
                                    <a style="color: inherit; text-decoration: none;" href="@Url.Action("Index", "Books", new {cat = s.Id})">@Html.Raw(s.Name)</a>
                                    <br />
                                    @{
                                        ViewBag.sSekce = General.GetCurrentCategories(s.Id, User.Identity.Name);
                                        ViewBag.c = 0;
                                        ViewBag.mc = (ViewBag.sSekce as List<BookSekce>).Count;
                                    }

                                    @foreach (BookSekce ss in ViewBag.sSekce as List<BookSekce>)
                                    {
                                        <a href="@Url.Action("Index", "Books", new {cat = ss.Id})" style="color: inherit; text-decoration: none;" class="badge badge-light">@Html.Raw(ss.DebugName)</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            foreach (Book b in Model)
            {
                b.TempClass = "btn-primary";

                if (b.IsPayed)
                {
                    b.TempClass = "btn-warning";

                    if (!User.Identity.IsAuthenticated)
                    {
                        b.ReadButton = "Prémiový příspěvek";
                    }
                    else
                    {
                        if (General.UserUnlockedPost(b.Id, User.Identity.Name))
                        {
                            b.ReadButton = "Číst →";
                        }
                        else
                        {
                            b.ReadButton = "Zakoupit za " + b.UnlockPrice + " krevitů";
                        }
                    }
                }
                else
                {
                    b.ReadButton = "Číst →";
                }
            }
        }
        
        <style>
            .blackLink {
                color: black;
                text-decoration: none;
            }

                .blackLink:hover {
                    color: #555555;
                    text-decoration: none;
                }
        </style>

        @foreach (Book b in Model)
        {
            <div>
                <div class="card mb-3 h-25 mt-0">
                    <div class="card-body">
                        @{
                            if (b.ReadButton == "Číst →")
                            {
                                <a href="@Url.Action("Detail", "Books", new {id = b.Id, zobrazPopis = true})" class="blackLink"><h4 class="card-title">@b.Name</h4></a>
                            }
                            else
                            {
                                <h4 class="card-title">@b.Name</h4>
                            }
                        }
                       
                        <p class="card-text">@Html.Raw(LofovaChyse.Class.ImageHelper.StripTagsRegex(b.Description.Substring(0, Math.Min(500, b.Description.Length))))...</p>
                    </div>
                    <div class="card-footer text-muted" style="margin: 0px; padding-top: 2px; padding-bottom: 2px;">
                        <span style="font-size: 0.9em;">Přidal @Html.ActionLink(b.OwnerId.Name, "index", "profile", new { id = b.OwnerId.Id }, new { }) @b.LastEditDateTime.ToString("d. MMMM yyyy"), verze @b.Version.ToString().Replace(",", ".")</span>

                        @{
                            if (b.ReadButton != "Číst →")
                            {
                                @Ajax.ActionLink(b.ReadButton, "Buy", "Books", new { id = b.Id, userName = User.Identity.Name }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModelWindow" }, new { @class = "btn btn-warning float-right btn-sm" })
                            }
                        }
                    </div>
                </div>
            </div>
        }

        @if ((ViewBag.SeznamKategorii as List<BookSekce>).Count == 0)
        {
            if (ViewBag.Pages != null && ViewBag.Pages > 1)
            {
                <nav aria-label="..."  style="display: inline-block">
                    <ul class="pagination">
                        @for (int i = 1; i <= ViewBag.Pages; i++)
                        {
                            <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                                @Ajax.ActionLink(i.ToString(), "Index", new { page = i, cat = ViewBag.Cat }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxContent" }, new { @class = "page-link" })
                            </li>
                        }
                    </ul>
                </nav>
            }
        }
        
    @if ((ViewBag.SeznamKategorii as List<BookSekce>).Count == 0)
    {
        if (ViewBag.Pages != null && ViewBag.Pages > 1)
        {
            <p><i>Počet položek na stránku: @ViewBag.PerPage, celkem @ViewBag.total výsledků</i></p>
            <br/>
        }
    }
    
    </div>

    <script>
        function openModelWindow() {
            jQuery('#myModal2').modal('toggle');
        }

        function hideModal() {
            jQuery('#myModal2').modal('hide');
        }

        function openModelWindowZZ() {
            jQuery.get('@Url.Action("SearchModal", "Books")',
                {  },
                function(response) {
                    jQuery("#modalContent").html(response);
                });

            jQuery('#myModal2').modal('toggle');
        }
    </script>

    <script>
        jQuery(".chbox").click(function () {
            $(this).toggleClass("rubberBand");
        });
    </script>
}