@using DataAccess.Models
@using PerpetuumSoft.Knockout
@using LofovaChyse.Areas.Admin.Controllers
@using LofovaChyse.Class
@model List<Book>

@{
    ViewBag.BuyId = 0;
    ViewBag.SeznamKategorii = General.GetCurrentCategories(ViewBag.Cat);
}

<div id="ajaxContent">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="modalContent">

                </div>
            </div>
        </div>
    </div>

    @{
        ViewBag.Title = "Index";

        <h2>Nové příspěvky</h2>
        <hr />
        <div class="clearfix"></div>

        foreach (BookSekce s in ViewBag.SeznamKategorii as List<BookSekce>)
        {
                <div class="container">
                    <div class="row align-items-center offset-md-0">
                        <div class="col-sm-2 order-md-1 offset-md-0">
                            <div class="p-2">
                                @if (!string.IsNullOrEmpty(s.ImageName))
                                {
                                    <img class="rounded animated chbox" src="@Url.Content("~/Uploads/Sekce/" + s.ImageName)" alt="">
                                }
                            </div>
                        </div>
                        <div class="col-sm-8 order-sm-1">
                            <div class="p-2">
                                <a style="color: inherit; text-decoration: none;" href="@Url.Action("Index", "Books", new {cat = s.Id})">@Html.Raw(s.Name)</a>
                            </div>
                        </div>
                    </div>
                </div>
        }

        foreach (Book b in Model)
        {
            b.TempClass = "btn-primary";

            if (b.IsPayed)
            {
                b.TempClass = "btn-warning";

                if (!User.Identity.IsAuthenticated)
                {
                    b.ReadButton = "Prémiový příspěvek";
                }
                else
                {
                    if (General.UserUnlockedPost(b.Id, User.Identity.Name))
                    {
                        b.ReadButton = "Číst →";
                    }
                    else
                    {
                        b.ReadButton = "Zakoupit za " + b.UnlockPrice + " krevitů";
                    }
                }
            }
            else
            {
                b.ReadButton = "Číst →";
            }
        }
    }

    @foreach (Book b in Model)
    {
        <div>
            <div class="card mb-3 h-25 mt-0">
                <div class="card-body">
                    <h4 class="card-title">@b.Name</h4>
                    <p class="card-text">@Html.Raw(LofovaChyse.Class.ImageHelper.StripTagsRegex(b.Description.Substring(0, Math.Min(200, b.Description.Length))))...</p>
                </div>
                <div class="card-footer text-muted">
                    Napsal @b.OwnerId.Name, verze @b.Version.ToString().Replace(",", ".") (@b.LastEditDateTime.ToString("dd MMMM, yyyy"))
                    @if (b.ReadButton == "Číst →")
                    {
                        @Html.ActionLink(b.ReadButton, "Detail", "Books", new { id = b.Id, zobrazPopis = true }, new { title = b.Name, @class = "btn " + b.TempClass + " float-right btn-sm" })
                    }
                    else
                    {
                        @Ajax.ActionLink(b.ReadButton, "Buy", "Books", new { id = b.Id, userName = User.Identity.Name }, new AjaxOptions() { UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModelWindow" }, new { @class = "btn btn-warning float-right btn-sm" })
                    }
                </div>
            </div>
        </div>
    }
    
    @if ((ViewBag.SeznamKategorii as List<BookSekce>).Count == 0)
    {
        if (ViewBag.Pages != null && ViewBag.Pages > 1)
         {
            <p>Počet položek na stránku: @ViewBag.PerPage</p>

            <nav aria-label="...">
                <ul class="pagination">
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            @Ajax.ActionLink(i.ToString(), "Index", new {page = i, cat = ViewBag.Cat}, new AjaxOptions() {InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxContent"}, new {@class = "page-link"})
                        </li>
                    }
                </ul>
            </nav>
         }
    }
</div>

<script type="text/javascript">
    function openModelWindow() {

        $('#myModal').modal('toggle');
    }
</script>

<script>
    $(".chbox").click(function() {
        $(this).toggleClass("rubberBand");    
    });
</script>