@using DataAccess.Models
@using LofovaChyse.Areas.Admin.Controllers
@model IList<Book>


@{
    ViewBag.Title = "Index";
    //Book book = ViewBag.Kniha as Book; //Přetypování / secure

    // @model book -> Typový model
}

<h1>Výpis knih v lofově knihovně</h1>
<hr/>

<div class="clearfix"></div>

<table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr>
        <th>Obrázek</th>
        <th>ID</th>
        <th>Název knihy</th>
        <th>Autor</th>
        <th>Rok vydání</th>
        
        @if (User.Identity.IsAuthenticated)
        {
            <th>Hodnotit</th>
        }
        
        @if (User.IsInRole("Knihovnik"))
        {
            <th><strong>[ACP] Akce</strong></th>
        }
    </tr>
    
    </thead>
    
    <tbody>
    @foreach (Book b in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(b.ImageName))
                {
                    <img src="@Url.Content("~/Uploads/Book/" + b.ImageName)" />
                }
            </td>
            <td><a href="@Url.Action("Detail", "Books", new {id = b.Id, zobrazPopis = false})">@b.Id</a></td>
            <td>@Html.ActionLink(b.Name, "Detail", "Books", new {id = b.Id, zobrazPopis = true}, new {title = b.Name, @class = ""})</td>
            <td>@b.Author</td>
            <td>@b.PublishedYear</td>
            
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <p id="ajaxContent">Hodnotit</p>
                    @{
                        if (((LofovaChyse.Controllers.BooksController) ViewContext.Controller).CurrentUserRatedBook(b))
                        {
                            @Html.ActionLink("-1", "Rate", "Books", new {id = b.Id, value = -1}, null)
                        }
                        else
                        {
                            @Ajax.ActionLink("+1", "Rate", new { id = b.Id, value = 1 }, new AjaxOptions() {UpdateTargetId = "#ajaxContent", InsertionMode = InsertionMode.Replace})
                        }
                    }

                </td>
            }
            
            @if (User.IsInRole("Knihovnik"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", "Books", new {id = b.Id}, null)
                    |
                    @Html.ActionLink("Delete", "Delete", "Books", new {id = b.Id}, new {onclick = "return confirm('Opravdu smazat knihu [" + b.Name + "] ?');"})
                </td>
            }
        </tr>      
    }

    </tbody>
</table>