@using DataAccess.Models
@using LofovaChyse.Class
@model DataAccess.Models.KnihovnaKomentare
@{
    ViewBag.CanRate = Model.AlreadyRated;

    ViewBag.RatedIndex = Model.RatedType;
    ViewBag.TempClass = "";

    if (!ViewBag.CanRate)
    {
        ViewBag.TempClass = " disabled";
    }

    ViewBag.TempClass1 = ViewBag.TempClass;
    ViewBag.TempClass2 = ViewBag.TempClass;
    ViewBag.TempClass3 = ViewBag.TempClass;
    ViewBag.TempClass4 = ViewBag.TempClass;

    if (ViewBag.TempClass1 == " disabled" && ViewBag.RatedIndex == 2)
    {
        ViewBag.TempClass1 = "";
    }

    if (ViewBag.TempClass2 == " disabled" && ViewBag.RatedIndex == 0)
    {
        ViewBag.TempClass2 = "";
    }

    if (ViewBag.TempClass3 == " disabled" && ViewBag.RatedIndex == 3)
    {
        ViewBag.TempClass3 = "";
    }

    if (ViewBag.TempClass4 == " disabled" && ViewBag.RatedIndex == 1)
    {
        ViewBag.TempClass4 = "";
    }
}

<button class="button button-highlight button-box float-right button-small"><h6 style="margin-top: 6px;">@Model.PocetReakci.Sum()</h6></button>
<b class="float-right">‌‌ ‌‌</b>
@Ajax.RawActionLink("<i class=\"fas fa-sun fa-lg\"></i>", "RateKomentar", "Books", new { id = Model.Id, bookId = Model.Id, moznost = 2 }, new AjaxOptions() { UpdateTargetId = "ajaxRating", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "button button-raised button-action button-jumbo button-circle float-right button-small tippy" + ViewBag.TempClass1, title = "<small>" + (Model.PocetReakci[2] > 0 ? Model.PocetReakci[2].ToString() + "x" : "") + " </small><b style=\"color: #86d673\">To mě mrzí</b> - soucítím s tebou", data_tippy_placement = "bottom" })
<b class="float-right">‌‌ ‌‌</b>
@Ajax.RawActionLink("<i class=\"fas fa-heart fa-lg\"></i>", "RateKomentar", "Books", new { id = Model.Id, bookId = Model.Id, moznost = 0 }, new AjaxOptions() { UpdateTargetId = "ajaxRating", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "button button-raised button-caution button-jumbo button-circle float-right button-small tippy" + ViewBag.TempClass2, title = "<small>" + (Model.PocetReakci[0] > 0 ? Model.PocetReakci[0].ToString() + "x" : "") + " </small><b style=\"color: #ff5252\">Super</b> - skvělý příspěvek", data_tippy_placement = "bottom" })
<b class="float-right">‌‌ ‌‌</b>
@Ajax.RawActionLink("<i class=\"fas fa-cog fa-lg\"></i>", "RateKomentar", "Books", new { id = Model.Id, bookId = Model.Id, moznost = 3 }, new AjaxOptions() { UpdateTargetId = "ajaxRating", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "button button-raised button-royal button-jumbo button-circle float-right button-small tippy" + ViewBag.TempClass3, title = "<small>" + (Model.PocetReakci[3] > 0 ? Model.PocetReakci[3].ToString() + "x" : "") + " </small><b style=\"color: #a9a0e3\">Užitečné</b> - tohle mi pomohlo", data_tippy_placement = "bottom" })
<b class="float-right">‌‌ ‌‌</b>
@Ajax.RawActionLink("<i class=\"fas fa-thumbs-up fa-lg\"></i>", "RateKomentar", "Books", new { id = Model.Id, bookId = Model.Id, moznost = 1 }, new AjaxOptions() { UpdateTargetId = "ajaxRating", InsertionMode = InsertionMode.ReplaceWith }, new { @class = "button button-raised button-primary button-jumbo button-circle float-right button-small tippy" + ViewBag.TempClass4, title = "<small>" + (Model.PocetReakci[1] > 0 ? Model.PocetReakci[1].ToString() + "x" : "") + " </small><b style=\"color: #bbebff\">Souhlasím</b> - palec nahoru", data_tippy_placement = "bottom" })

<script src="https://atomiks.github.io/tippyjs/tippy/tippy.js"></script>
<script src="https://atomiks.github.io/tippyjs/js/prism.js"></script>
<script src="https://atomiks.github.io/tippyjs/js/app.js"></script>